@import "/src/styles/mixin.scss";

.DateGraph {
  @include col;
  @include center;
  width: 100%;
  text-align: center;
  &Cont {
    text-align: center;
    @include col;
    @include center;
    width: 95%;
    &DayGraph {
      text-align: center;
      @include col;
      @include center;
      width: 100%;
    }
  }
  &NotSelected {
    background: pink;
    @include row;
    border-radius: 10px;
    width: 100%;
    font-size: 14px;
    padding: 5% 0px;
    color: red;
    @include center;
    text-align: center;
  }
}
